:host {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.card {
  margin-bottom: 1rem;
}

.card-header {
  background-color: #f8f9fa;
}

.card-title {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0;
}

.table {
  margin-bottom: 0;
}

#personSelect {
  font-size: 1.25rem; 
  padding: 0.5rem;
  border-radius: 0.25rem;
}

  #personSelect option {
    font-size: 1rem; 
  }
