<div class="container mt-4">
    <header class="my-4 text-center">
        <h1>Workbench Time Tracker</h1>
    </header>

    <!-- Person Selector -->
    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">People</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <select id="personSelect" class="form-control form-control-lg" (change)="onPersonSelect($event)">

                            <option *ngFor="let person of people" [value]="person.id">
                                {{ person.fullName }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Time Entries -->
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Time Entries</h5>
                </div>
                <div class="card-body p-0">
                    <app-time-entry-list></app-time-entry-list>
                </div>
            </div>
        </div>
    </div>
</div>
